name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/reusable-npm-run.yml
    with:
      command: check

  test:
    uses: ./.github/workflows/reusable-npm-run.yml
    with:
      command: test-ci
      node-version: 18

  test-20:
    uses: ./.github/workflows/reusable-npm-run.yml
    with:
      command: test-ci
      node-version: 20

  test-22:
    uses: ./.github/workflows/reusable-npm-run.yml
    with:
      command: test-ci
      node-version: 22

  peer:
    needs: [lint, test]
    name: Check peerDependencies issues
    uses: ./.github/workflows/reusable-npm-run.yml
    with:
      command: check-peer-compatibility

  compatibility-semistandard:
    needs: [lint, test]
    uses: ./.github/workflows/compatibility.yml
    with:
      moduleSet: semistandard-filtered
      flags: --semi

  compatibility-standard:
    needs: [lint, test]
    uses: ./.github/workflows/compatibility.yml
    with:
      moduleSet: standard-filtered

  compatibility-ts-standard:
    needs: [lint, test]
    uses: ./.github/workflows/compatibility.yml
    with:
      moduleSet: ts-standard-filtered
      flags: '--ts'

